.title-box {
    margin-top: 22rem;
    border: black solid 3px;
    padding: 2rem;
}

.title-box button {
    width: 30%;
}

.btnWidth {
    width: 30%;
}

.question-choices {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}